.elemento_oculto{
    display: none;
    z-index: 200;
}

.elemento{
    z-index: 200;
}

#l6_s1_1{
    position: absolute;
    left: 10vw;
    top: 40vh;
    min-width: 155px;
}

#l6_s1_2{
    position: absolute;
    left: 10vw;
    top: 50vh;
    min-width: 155px;
}

#l6_s1_3{
    position: absolute;
    left: 10vw;
    top: 40vh;
    min-width: 155px;
}

#l6_s1_4{
    position: absolute;
    left: 10vw;
    top: 50vh;
    min-width: 155px;
}

#l6_s1_5{
    position: absolute;
    left: 10vw;
    top: 40vh;
    min-width: 155px;
}

#l6_s1_6{
    position: absolute;
    left: 10vw;
    top: 56vh;
    min-width: 155px;
}

#l6_s1_7{
    position: absolute;
    left: 23vw;
    top: 55vh;
    min-width: 155px;
}

#l6_s2_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s2_2{
    position: absolute;
    top: 33vh;
    left: 20.5vw;

}

#l6_s3_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s3_2{
    position: absolute;
    top: 33vh;
    left: 34vw;

}

#l6_s3_3{
    position: absolute;
    top: 32vh;
    left: 40vw;

}

#l6_s3_4{
    position: absolute;
    top: 25vh;
    left: 20vw;

}


#l6_s3_5{
    position: absolute;
    top: 39vh;
    left: 48vw;

}

#l6_s3_6{
    position: absolute;
    top: 38vh;
    left: 53vw;

}

#l6_s4_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s4_2{
    position: absolute;
    top: 36vh;
    left: 21vw;

}

#l6_s4_3{
    position: absolute;
    top: 35vh;
    left: 26vw;

}


#l6_s4_4{
    position: absolute;
    top: 25vh;
    left: 20vw;

}


#l6_s4_5{
    position: absolute;
    top: 39.3vh;
    left: 22vw;

}

#l6_s4_6{
    position: absolute;
    top: 37.3vh;
    left: 35vw;

}

#l6_s5_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s5_2{
    position: absolute;
    top: 39.5vh;
    left: 23vw;

}

#l6_s5_3{
    position: absolute;
    top: 35vh;
    left: 40vw;

}


#l6_s6_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s6_2{
    position: absolute;
    top: 40.5vh;
    left: 23vw;

}

#l6_s6_3{
    position: absolute;
    top: 39vh;
    left: 30vw;

}

#l6_s7_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s7_2{
    position: absolute;
    top: 40.5vh;
    left: 23vw;

}

#l6_s7_3{
    position: absolute;
    top: 38vh;
    left: 42vw;

}