.elemento_oculto{
    display: none;
    z-index: 200;
}

.elemento{
    z-index: 200;
}

/*** SLIDE 1   ***/

#l6_s1_1{
    position: absolute;
    left: 250;
    top: 100;
}

#l6_s1_2{
    position: absolute;
    left: 250;
    top: 170;
}

#l6_s1_3{
    position: absolute;
    left: 150;
    top: 100;
}

#l6_s1_4{
    position: absolute;
    left: 150;
    top: 170;
}

#l6_s1_5{
    position: absolute;
    left: 250;
    top: 150;
}

#l6_s1_6{
    position: absolute;
    left: 250;
    top: 255;
}

#l6_s1_7{
    position: absolute;
    left: 450;
    top: 255;
}


/*** SLIDE 2   ***/


#l6_s2_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;

}

#l6_s2_2{
    position: absolute;
    top: 80;
    left: 150;

}


/*** SLIDE 3   ***/


#l6_s3_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s3_2{
    position: absolute;
    top: 128;
    left: 307;
}

#l6_s3_3{
    position: absolute;
    top: 120;
    left: 365;

}

#l6_s3_4{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;

}


#l6_s3_5{
    position: absolute;
    top: 78;
    left: 468;

}


#l6_s3_6{
    position: absolute;
    top: 65;
    left: 530;

}


/*** SLIDE 4   ***/

#l6_s4_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;

}

#l6_s4_2{
    position: absolute;
    top: 110;
    left: 160;
}

#l6_s4_3{
    position: absolute;
    top: 100;
    left: 220;
}

#l6_s4_4{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;

}

#l6_s4_5{
    position: absolute;
    top: 138;
    left: 175;

}

#l6_s4_6{
    position: absolute;
    top: 122;
    left: 260;

}

/*** SLIDE 5   ***/

#l6_s5_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s5_2{
    position: absolute;
    top: 135;
    left: 170;
}

#l6_s5_3{
    position: absolute;
    top: 120;
    left: 350;
}


/*** SLIDE 6   ***/

#l6_s6_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s6_2{
    position: absolute;
    top: 151;
    left: 185;

}

#l6_s6_3{
    position: absolute;
    top: 135;
    left: 250;

}


/*** SLIDE 7   ***/

#l6_s7_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s7_2{
    position: absolute;
    top: 153;
    left: 185;
}

#l6_s7_3{
    position: absolute;
    top: 120;
    left: 400;

}


/*** SLIDE 8   ***/

#l6_s8_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s8_2{
    position: absolute;
    top: 176;
    left: 206;
}

#l6_s8_3{
    position: absolute;
    top: 158;
    left: 310;
}


/*** SLIDE 9   ***/

#l6_s9_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s9_2{
    position: absolute;
    top: 190;
    left: 215;
}

#l6_s9_3{
    position: absolute;
    top: 175;
    left: 324;
}


/*** SLIDE 10   ***/

#l6_s10_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s10_2{
    position: absolute;
    top: 202;
    left: 228;
}

#l6_s10_3{
    position: absolute;
    top: 185;
    left: 340;
}



/*** SLIDE 11   ***/
#l6_s11_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s11_2{
    position: absolute;
    top: 240;
    left: 150;
}

#l6_s11_3{
    position: absolute;
    top: 75;
    left: 150;
}


/*** SLIDE 12   ***/

#l6_s12_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s12_2{
    position: absolute;
    top: 68;
    left: 380;
}

#l6_s12_3{
    position: absolute;
    top: 293;
    left: 450;
}

#l6_s12_4{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s12_5{
    position: absolute;
    top: 240;
    left: 150;
}

#l6_s12_6{
    position: absolute;
    top: 220;
    left: 380;
}


/*** SLIDE 13   ***/

#l6_s13_1{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 731;
}

#l6_s13_2{
    position: absolute;
    top: 190;
    left: 550;
}

#l6_s13_3{
    position: absolute;
    top: 85;
    left: 804;
}

#l6_s13_4{
    position: absolute;
    top: 30;
    left: 730;
}



/*** SLIDE 14   ***/
#l6_s14_1{
    position: absolute;
    top: 25vh;
    left: 20vw;

}

#l6_s14_2{
    position: absolute;
    top: 33vh;
    left: 40vw;

}

#l6_s14_3{
    position: absolute;
    top: 53vh;
    left:45vw;

}