/***** BASE STYLES USED AMONG SLIDES ********/
body {
  margin: 0;
  padding: 0;
  background: url(../images/generales/L2_Portada_1.png) #000;
  background-size: cover;
  background-repeat: no-repeat; 
  min-width: 1024px;
  min-height: 500px;
  overflow: hidden;
}

.negro {
  background-color: #000;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute; 
}

.gris{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(59, 59, 59,.7);
  z-index: 25;
  height: 100%;
}
.gris img{
  left: 45vh;
  top: 45vh;
  position: absolute;
}

.logo {
  
  position: absolute;
  z-index: 1000; 
  top:5%;
  left:5%;
}
.logo img{
  max-width: 45%;
}

#black_play{
  min-width: 8em;
  min-height: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
}

.book {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%; 
  z-index: 9999;
}

.book .marcador {
  width: 0%;
  padding: 5px;
  background: #144982;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

.ocultar{
  display: none;
}

.derecha{
  position: absolute;
  top: 2.5vh;
  left: 48vw;
}

.girar1 {
  -webkit-animation: rotar1 2s infinite linear;
  animation: rotar1 2s infinite linear; 
}
.girar2 {
  -webkit-animation: rotar2 2s infinite linear;
  animation: rotar2 2s infinite linear; 
}

@-webkit-keyframes rotar1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } 
}
@keyframes rotar1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } 
}
@-webkit-keyframes rotar2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } 
}
@keyframes rotar2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } 
}

.video{
  max-width: 88vw;
}

.wrapper {
  min-width: 1024px;
  z-index: 1;
  width: 90%;
  top:5%;
  left: 5%;
  position:absolute;
}


.top{
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.top img {
  width: 100%;
  height: 10px;
}


.botonera{
  position: absolute;
  top: 5%;
  right: 85px;
  z-index: 1000;
}

#grisControl{
  margin-left: -2px;
}


.prev{
  position: absolute;
  right: 29%;
  top:5;
}


.play{
  position: absolute;
  right: 20%;
  top:5;
}

.dis_play{
  position: absolute;
  right: 20%;
  top:5;
}

.pause{
  position: absolute;
  right: 20%;
  top:5;
}

.reset{
  position: absolute;
  right: 11%;
  top:5;
}

.dis_next{
  position: absolute;
  right: 2%;
  top:5;
}

.next{
  position: absolute;
  right: 2%;
  top:5;
  z-index: 20;
}

.primer {
  display: none;
  position: absolute;
  top:50vh;
  left:50vw;
}
.primer a {
    font-size: 50px;
    color: #fff; }

.precarga {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  color: #fff; }
  .precarga i {
    position: absolute; }
  .precarga .engranes1 {
    top: 0;
    left: 36px;
    font-size: 50px; }
  .precarga .engranes2 {
    top: 30px;
    left: 12px;
    font-size: 32px; }
  .precarga .engranes3 {
    top: 34px;
    right: 5px;
    font-size: 26px; }


