// out: ../css/animaciones.css

/*____________ s1 ________________*/
.b1{
	animation-delay: 13s; 
} 

.item{

	.s1{
		.s1_1{
			animation-delay: 1.5s;
		}

		.s1_2{
			animation-delay: 3s;
		}

		.s1_3{
			animation-delay: 4.5s;
		}

		.s1_4{
			animation-delay: 6s;
		}

		.s1_5{
			animation-delay: 8s;
		}
	}
	.s1_6{
			animation-delay: 7.5s;
		}
}




@keyframes op{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes op2{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes op3{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.4;
	}
}


.girar1{
	-webkit-animation: rotar1 2s infinite linear;
	animation: rotar1 2s infinite linear;
}

.girar2{
	-webkit-animation: rotar2 2s infinite linear;
	animation: rotar2 2s infinite linear;
}


@keyframes rotar1{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes rotar2{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-359deg);
		transform: rotate(-359deg);
	}
}
