* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: url(../images/bg.jpg) #000;
  background-size: cover;
  min-width: 1024px;
  min-height: 600px; }

.logo, .carlos, .contenedor_control {
  position: absolute; }
  .logo img, .carlos img, .contenedor_control img {
    width: 100%; }

.negro {
  background-color: #000;
  z-index: 9999;
  position: absolute;
  top:0;
  width: 100%;
  min-height: 100%;
  display: block;
}

.primer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; }
  .primer a {
    font-size: 50px;
    color: #fff; }

.precarga {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  color: #fff; }
.precarga i {
  position: absolute; }
.precarga .engranes1 {
  top: 0;
  left: 36px;
  font-size: 50px; }
.precarga .engranes2 {
  top: 30px;
  left: 12px;
  font-size: 32px; }
.precarga .engranes3 {
  top: 34px;
  right: 5px;
  font-size: 26px; }

.logo {
  top: 10px;
  left: 0;
  width: 10%;
  z-index: 999; }

.carlos {
  top: 20px;
  right: 20px;
  width: 150px;
  z-index: 999; }

.contenedor {
  width: 1024px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -512px; }

.wrapper {
  min-width: 1024px;
  min-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.book {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%; }

.book .marcador {
  padding: 5px;
  background: #00a58e;
  -webkit-box-shadow: inset 0 0 4px 1px #008472;
  box-shadow: inset 0 0 4px 1px #008472;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

.forzar {
  display: none !important; 
}

.ocultar, .next, .seguir10a, .seguir14, .seguir, .seguir2 {
  cursor: pointer; }

.uno, .dos {
  display: none; }


/*____________ s01 ________________*/
.item .s1 div {
  position: absolute; }

.item .s1_1 {
  top: 0;
  left: -68px; }

.item .s1_2 {
  top: 108px;
  left: 260px;
  z-index: 2; }

.item .s1_3 {
  top: 180px;
  left: 390px; }

.item .s1_4 {
  top: 223px;
  left: 660px; }

.item .s1_5 {
  position: absolute;
  top: -59px;
  left: 1085px;
  cursor: pointer; }

.item .s1_6 {
  position: absolute;
  bottom: 0;
  right: 0; }

/*____________ s02 ________________*/
